p {

}

.question {
  
}

.sprite {
    position: relative;
    z-index: 1;
}

.arrowAlfa6 {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 150px;
}

.arrowAlfa7 {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 150px;
}
.arrowAlfa8 {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 150px;
}
.arrowAlfa9 {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 150px;
}

.notArrowAlfa {
    color: red;
}

.notRandomFirst {
    background-color: darkorange;
}