p {

}

.question {
  
}

.sprite {
    position: relative;
    z-index: 1;
}

.arrowAlfa6 {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 150px;
}

.arrowAlfa7 {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 150px;
}
.arrowAlfa8 {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 150px;
}
.arrowAlfa9 {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 150px;
}

.notArrow {
    color: red;
}

.notRandom {
    background-color: darkorange;
}

.arrowBeta65 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta66 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta67 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta68 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}

.arrowBeta74 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta75 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta76 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta77 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}

.arrowBeta83 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta84 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta85 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta86 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}

.arrowBeta92 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta93 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta94 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}
.arrowBeta95 {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 350px;
}