.expression {
    padding-left: 300px;
    font-size: 30px;
}

.answer {
    position: absolute;
    top: 25px;
    left: 440px;
    font-size: 30px;
}

.sprite {
    padding-top: 105px;
}

#arrowAlfa {
    position: absolute;
    z-index: 10;
}

#arrowBeta {
    position: absolute;
    z-index: 10;
}

.alfaInput {
    position: absolute;
    z-index: 20;
}

.betaInput {
    position: absolute;
    z-index: 20;
}

.notArrow {
    color: red;
}

.notRandom {
    background-color: darkorange;
}